<html>

<head>
	<title>Adedonha</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/vue/dist/vue.js"></script>
	<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bootstrap-vue/dist/bootstrap-vue.css">
	<script src="/bootstrap-vue/dist/bootstrap-vue.js"></script>
	<script src="/sweetalert2/dist/sweetalert2.all.min.js"></script>
	<link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">
</head>

<body>
	<script>const socket = io()</script>
	<div id="app" class="container-fluid">
		<nav class="navbar fixed-top navbar-light bg-light" v-if="status === 'rodada' || status === 'criado'">
			<b-progress :value="barraTempo" :max="barraTempoMax" :variant="corBarraTempo" show-value :animated="barraTempo < barraTempoMax" style="width: 100%"></b-progress>
		</nav>
		<div class="row" :style="{ 'padding-top': status === 'rodada' || status === 'criado' ? '40px' : '0px' }">
			<div class="col-sm-6">
				<h2>Adedonha</h2>

        <login
          v-if="status == 'deslogado'"
          :socket="socket"
          @login="n => { nome = n }"
        ></login>

        <criacao
          v-if="status === 'criando'"
          :nome="nome"
          :socket="socket"
          @criar="t => { barraTempo = barraTempoMax = t }"
        ></criacao>

        <partida
          v-if="status === 'rodada' || status === 'criado'"
          ref="partida"
          :socket="socket"
          :nome="nome"
          :jogadores="jogadores"
          :assuntos="assuntos"
        ></partida>

			</div>
		</div>
	</div>
	<script src="components/ranking.js"></script>
	<script src="components/pontos.js"></script>
	<script src="components/partida.js"></script>
	<script src="components/criacao.js"></script>
	<script src="components/login.js"></script>
	<script src="app.js"></script>
</body>

</html>